* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  width: 100%;
  overflow-x: hidden;
}

:root {
  --font-family: "Lato", sans-serif;
  --vertical-line: rgb(134, 133, 133);
  --color-light-purple: rgb(133, 126, 231);
  --color-dark-purple: rgb(69, 65, 121);
  --color-light-green: rgb(118, 201, 118);
  --color-light-gray-line: rgb(230, 228, 228);
  --color-light-gray-background: rgb(243, 242, 242);
}

/* Fonts -------------------------------------- */
.bold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}
.trade {
  font-size: 24px;
  font-weight: 200;
}
/* End Fonts -------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}

.widget-container-full,
.wdiget-container-half {
  width: 95vw;
  margin: 0 auto;
}

.container {
  width: 98%;
  margin: 0 auto;
}
/* Header -------------------------------------- */
header {
  grid-area: header;
  background-color: var(--color-light-purple);
  color: white;
}

header h1 {
  font-size: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.bell-icon-container {
  margin-left: auto;
  margin-right: 15px;
}

.bell-icon {
  width: 30px;
  fill: white;
}

.circle {
  fill: var(--color-light-green);
  position: relative;
  margin: 0 auto;
  left: 55px;
  top: 9px;
  width: 35px;
  z-index: 99;
  cursor: pointer;
}

.bell-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

circle {
  max-width: 10%;
}
header img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.vertical {
  border-left: 1px solid rgb(190, 188, 188);
  height: 40px;
  margin-right: 5px;
}

.header-student {
  display: flex;
  align-items: center;
}

.header-student p {
  font-size: 10px;
}

/* End Header -------------------------------------- */

/* Nav -------------------------------------- */
nav {
  grid-area: navigation;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-purple);
  padding: 10px 50px;
}

nav img {
  width: 30px;
  filter: invert(1);
}
/* End Nav -------------------------------------- */

/* Dashboard Header -------------------------------------- */
main {
  display: grid;
  grid-area: main;
  width: 100%;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.headline {
  font-weight: 300;
  font-size: 22px;
}

.alert-banner {
  background-color: var(--color-light-purple);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
  height: 45px;
}

.alert-banner p {
  margin-left: 10px;
  margin-right: 10px;
}

.alert-banner-close {
  cursor: pointer;
}

.alert-banner-close:hover {
  transform: scale(1.3);
}

/* End Dashboard Header -------------------------------------- */

/* Traffic -------------------------------------- */
.uppercase {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.traffic-nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 2em;
  list-style-type: none;
  align-items: center;
}

.traffic {
  border-bottom: 2px solid var(--color-light-gray-line);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.traffic-nav li {
  color: black;
  margin: 15px;
}

.traffic-nav li:first-child {
  background-color: var(--color-light-green);
  color: white;
  padding: 0.5em;
  border-radius: 16px;
}

/* End Traffic -------------------------------------- */
/* DailyTraffic -------------------------------------- */

.daily {
  border-bottom: 2px solid var(--color-light-gray-line);
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.daily h3 {
  padding-bottom: 50px;
}

/* End Daily Traffic ------------------------------------- */
/* Mobile ------------------------------------------------ */
.mobile-chart {
  max-width: 200px;
}

/* Mobile ------------------------------------------------ */
/* Social Stats ------------------------------------------------ */
.social-stats {
  border-bottom: 2px solid var(--color-light-gray-line);
  padding-bottom: 20px;
  margin-bottom: 15px;
  max-width: 98%;
}

.social-stats h3 {
  margin-top: 20px;
}
.social-image {
  width: 30px;
  margin-right: 10px;
}
.social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  background-color: var(--color-light-gray-background);
  border: 1px solid var(--color-light-gray-line);
  border-radius: 6px;
  margin: 8px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 450px;
}

.social-text p:first-child {
  color: var(--color-light-purple);
  font-size: 18px;
  letter-spacing: 1px;
}

.social-text p:last-child {
  font-size: 35px;
  color: gray;
  font-weight: 200;
}
.outer {
  fill: white;
}

/* End Social Stats ------------------------------------------------ */
/* New Members  ------------------------------------------------ */
.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  font-size: 14px;
  border-bottom: 2px solid var(--color-light-gray-line);
}

.members-container img {
  width: 50px;
  border-radius: 50%;
}

.members-text a {
  text-decoration: none;
  color: var(--color-light-purple);
}

.members-text p:last-child {
  margin-bottom: 15px;
}

.date {
  padding-bottom: 15px;
}
/* End New Members  ------------------------------------------------ */
/* Messaging  ------------------------------------------------ */

.message,
.settings {
  margin-top: 15px;
  border-bottom: 2px solid var(--color-light-gray-line);
}

.widget-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 0 auto;
}

input[type],
textarea,
select {
  background-color: var(--color-light-gray-background);
  border: 1px solid var(--color-light-gray-line);
  border-radius: 6px;
  height: 40px;
  margin-bottom: 15px;
}

textarea {
  height: 100px;
}

.button-primary {
  background-color: var(--color-light-purple);
  border: 1px solid var(--color-light-gray-line);
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
  height: 40px;
  margin-bottom: 15px;
}

input::placeholder,
textarea::placeholder {
  padding-left: 10px;
  color: rgb(185, 184, 184);
  font-size: 16px;
  font-weight: 200;
}

/* End Messaging  ------------------------------------------------ */
/* Settings ------------------------------------------------ */

/* End Settings  ------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* --------------------Media Queries---------------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .header-student p {
    font-size: 16px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    padding: 0;
  }

  nav a {
    padding-top: 20px;
  }

  main {
    grid-template-columns: 50% 1fr;
  }
  /* Social-stats ------------------------------------------------------------- */
  .social-wrapper {
    flex-direction: row;
  }

  .social-container {
    width: 100px;
  }
  /* End Social-states ------------------------------------------------------ */
  /* Members------------------------------------------------------- */
  .members-container {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    font-weight: 200;
    font-size: 17px;
    align-items: center;
    padding-bottom: 20px;
  }

  .members-text {
    text-align: left;
    margin-left: 20px;
  }
  .members-container img {
    width: 60px;
  }
  .date {
    padding-bottom: 15px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: auto;
  }
  /* End Members------------------------------------------------------- */
  .traffic,
  .social-stats,
  .main-header {
    grid-column: 1 / span 2;
  }

  .members,
  .activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .widget-container-full {
    width: 90vw;
    margin: 0 auto;
  }
  .widget-container-half {
    width: 45vw;
  }

  .traffic-nav {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .social-stats {
    grid-column: 1 / span 2;
  }

  .members,
  .daily,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
}
